commands:
  00download:
    command: 'wget https://ds10.dscloud.io:443/software/agent/amzn1/x86_64/ -O /tmp/agent.rpm --no-check-certificate --quiet'
  01preserveiptables:
    command: 'touch /etc/use_dsa_with_iptables'    
  02install:
    command: 'rpm --replacepkgs -ihv /tmp/agent.rpm'
  03sleep:
    command: 'sleep 70'
  04activate:
    command: '/opt/ds_agent/dsa_control -a dsm://ds10.dscloud.io:4120/ "policyid:401" --max-dsm-retries 0 >/tmp/dsa_control.log 2>&1'