commands:
  00git:
    command: 'yum install -y git awscli wget jq'
    ignoreErrors: true
  01serverbasics:
    command: 'git clone https://github.com/peeweeh/server-basics.git /var/server-basics'
    ignoreErrors: true
  02ssh:
    command: 'sh /var/server-basics/amazon/ec2/ssh/setup.sh'
    ignoreErrors: true
  03bash:
    command: 'sh /var/server-basics/general/bash/set_default_bash.sh'
    ignoreErrors: true
  04ssm:
    command: 'sh /var/server-basics/amazon/ec2/install_ssm.sh'
    ignoreErrors: true